/* CLASSES */

.disabled {
    display: none;
}

.box {
    height: 6;
}

.logo {
    align: center middle;
}

/* MAIN SCREEN */

.main-screen-labels {
    margin-top: 1;
    margin-bottom: 1;
}

#main-screen-code-sample {
    height: 5;
    overflow-y: hidden;
}

Rule {
    margin-right: 1;
}

/* OPEN SCREEN */

#open-screen-left-block {
    dock: left;
    width: 30;
    height: 100%;
    border-right: #0f2b30;
}

#open-screen-tabs-main {
    dock: top;
}

#open-screen-tabs-main-1-middle-block {
    height: auto;
    margin-bottom: 1;
}

#open-screen-buttons-open {
    margin-left: 1;
}

#open-screen-buttons-refresh {
    margin-left: 1;
}

#open-screen-trees-file {
    scrollbar-gutter: stable;
}

#open-screen-inputs-path {
    dock: bottom;
}

#open-screen-statics-1 {
    margin-bottom: 1;
}

#open-screen-hor-container-w-buttons {
    margin-top: 1;
}

#open-screen-caption {
    margin-bottom: 1;
}

.open-screen-hor-container {
    height: auto;
}

.open-screen-labels {
    width: 15;
}

.open-screen-inputs {
    width: 35;
}

.open-screen-inputs.-valid {
    border: tall $success 60%;
}
.open-screen-inputs.-valid:focus {
    border: tall $success;
}


/* ERROR SCREEN */

ErrorScreen {
    align: center middle;
    background: $primary 30%;
}

#error-screen-grid {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}

.error-screen-center {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}

/* WORKING SCREEN */

.key {
    color: $warning;
    &:light {
        color: $primary;
    }
    padding: 0 1 0 0;
}

#working-screen-path {
    background: $secondary-background-lighten-3;
}

#working-screen-left-siderbar {
    dock: left;
    width: 30;
    height: 100%;
    border-right: #0f2b30;
}

#working-screen-right-bottom-block {
    height: auto;
    dock: bottom;
}

#working-screen-inputs-main {
    border: none;
    padding-top: 1;
    padding-bottom: 1;
}

#working-screen-footer {
    layout: horizontal;
    height: 1;
    width: 1fr;
    dock: bottom;

    Horizontal {
        width: 1fr;
        height: 1;
    }

    .meta {
        width: auto;
        height: 1;
        color: $success;
        padding: 0 1 0 0;
        margin-left: 1;
    }

    .mode {
        padding: 0 1;
        margin: 0 1;
        background: $success 15%;
        color: $success;
        text-style: bold;
    }
}

/* SETTINGS SCREEN */

.settings-screen-labels {
    margin-top: 1;
    margin-bottom: 1;
}

#settings-screen-code-sample {
    height: 5;
    overflow-y: hidden;
}

Rule {
    margin-right: 1;
}

/* QUIT SCREEN */

QuitScreen {
    align: center middle;
    background: $primary 30%;
}

#quit-screen-dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}

#quit-screen-question {
    column-span: 2;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}

#quit-screen-close-button {
    width: 100%;
}

#quit-screen-cancel-button {
    width: 100%;
}